<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h3>Liste des professeurs</h3>
          <mat-paginator
            #paginator
            class="demo-paginator"
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [disabled]="disabled"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
            [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex"
            aria-label="Select page"
          >
          </mat-paginator>
          <br />
          <div class="row">
            <div
              class="card border border-primary shadow-0 mb-3"
              style="max-width: 210px; margin-left: 2%;"
              *ngFor="let professeur of professeurs"
            >
              <div class="card-body text-primary" >
                <h6 class="card-title">{{ professeur.nom }} {{ professeur.prenom }}</h6>
                <p>{{ professeur.mail }}</p>
                <p class="card-text">
                  <img [src]="professeur.photo || 'assets/images/default-image.png'" class="img-fluid" alt="Photo de l'étudiant" style="border-radius: 10%;">
                </p>
              </div>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </div>
  