<h2 mat-dialog-title>Détails du devoir</h2>
<mat-dialog-content>
  <p><strong>Nom:</strong> {{ devoir.devoir_id.nom }}</p>
  <p><strong>Description:</strong> {{ devoir.devoir_id.description }}</p>
  <p><strong>Matière:</strong> {{ devoir.devoir_id.matiere_id.nom }}</p>
  <p><strong>Professeur:</strong> {{ devoir.devoir_id.matiere_id.professeur_id.nom }}</p>
  <p><strong>Date limite de rendu:</strong> {{ devoir.devoir_id.dateDeRendu | date }}</p>
  <p><strong>Date de livraison:</strong> {{ devoir.dateLivraison | date }}</p>
  <p *ngIf="estLivre(devoir)" class="badge badge-warning">
    En attente de notation
  </p>
  <br />
  <p *ngIf="isLate(devoir)" class="badge badge-danger">En retard</p>
  <div *ngIf="estNote(devoir)">
    <p><strong>Date de notation:</strong> {{ devoir.dateNotation | date }}</p>
    <p><strong>Note:</strong> {{ devoir.note }}/20</p>
    <p><strong>Remarques:</strong> {{ devoir.remarques_note }}</p>
    <p class="badge badge-success">Rendu</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Fermer</button>
</mat-dialog-actions>
