<div class="pop-up-ajout-devoir">
  <h3>Ajout d'un devoir</h3>
  <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'500ms'">
    <mat-step
      [stepControl]="firstFormGroup"
      errorMessage="La matière est requise."
    >
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Choisir une matière</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="firstCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="secondFormGroup"
      errorMessage="Informations manquantes."
    >
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Information sur le devoir</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Address"
            formControlName="secondCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="thirdFormGroup"
      errorMessage="La date de rendu est requise."
    >
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Rendu</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Address"
            formControlName="secondCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Validation</ng-template>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button (click)="stepper.reset()">Réinitialiser</button>
        <button mat-button>Ajouter</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
