<div class="pop-up-ajout-devoir">
  <h3>Ajout d'un devoir</h3>
  <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'500ms'">
    <mat-step
      [stepControl]="firstFormGroup"
      errorMessage="La matière est requise."
    >
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Choisir une matière</ng-template>
        <mat-form-field>
          <mat-label>Matière</mat-label>
          <mat-select formControlName="matiereCtrl" required>
            @for(matiere of matieres; track matiere.nom) {
            <mat-option [value]="matiere._id">
              {{ matiere.nom }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div>
          @if(firstFormGroup.get('matiereCtrl')?.hasError('required')) {
          <mat-error> La matière est requise. </mat-error>
          }
        </div>
        <br />
        <div>
          <button
            mat-button
            matStepperNext
            class="btn"
            style="padding-bottom: 27px; margin-right: 20px"
          >
            Suivant
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="secondFormGroup"
      errorMessage="Le titre est requis."
    >
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Information sur le devoir</ng-template>
        <br />
        <mat-form-field>
          <mat-label>Titre</mat-label>
          <input matInput formControlName="titreCtrl" required />
        </mat-form-field>
        <br />
        <div>
          @if(secondFormGroup.get('titreCtrl')?.hasError('required')) {
          <mat-error> Le titre est requis. </mat-error>
          }
        </div>
        <br />
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="descriptionCtrl"></textarea>
        </mat-form-field>
        <div>
          <button
            mat-button
            matStepperPrevious
            class="btn"
            style="padding-bottom: 27px; margin-right: 20px"
          >
            Retour
          </button>
          <button
            mat-button
            matStepperNext
            class="btn"
            style="padding-bottom: 27px; margin-right: 20px"
          >
            Suivant
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="thirdFormGroup"
      errorMessage="Erreur de la date de rendu."
    >
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Rendu</ng-template>
        <br />
        <mat-form-field>
          <mat-label>Date de rendu</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateCtrl"
            required
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          @if(thirdFormGroup.get('dateCtrl')?.hasError('required')) {
          <mat-error> La date de rendu est requise. </mat-error>
          } @if(thirdFormGroup.get('dateCtrl')?.hasError('invalidDate'))
          {<mat-error> La date doit être dans le futur. </mat-error>}
        </div>
        <br />
        <div>
          <button
            mat-button
            matStepperPrevious
            class="btn"
            style="padding-bottom: 27px; margin-right: 20px"
          >
            Retour
          </button>
          <button
            mat-button
            matStepperNext
            class="btn"
            style="padding-bottom: 27px; margin-right: 20px"
          >
            Suivant
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Validation</ng-template>
      <br />
      <div>
        <button
          mat-button
          matStepperPrevious
          class="btn"
          style="padding-bottom: 27px; margin-right: 20px"
        >
          Retour
        </button>
        <button
          mat-button
          (click)="stepper.reset()"
          style="padding-bottom: 27px; margin-right: 200px"
          class="btn"
        >
          Réinitialiser
        </button>
        <button
          mat-button
          matStepperPrevious
          (click)="close()"
          style="padding-bottom: 27px; margin-right: 20px"
          class="btn"
        >
          Annuler
        </button>
        <button
          mat-button
          style="padding-bottom: 27px; color: white"
          class="btn btn-primary"
          (click)="ajouterDevoir()"
        >
          Ajouter
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
