<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3>Liste des étudiants</h3>
        <br />
        <p><strong>Nom de la matière : </strong> {{ matiere.nom }}</p>
        <p>
          <strong>Nombre d'étudiants inscrits : </strong>
          {{ matiere.etudiant_inscrits.length }}
        </p>
        <br />
        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="etudiants"
            class="mat-elevation-z8 demo-table"
          >
            <ng-container matColumnDef="inscrit">
              <th mat-header-cell *matHeaderCellDef>Inscrit</th>
              <td mat-cell *matCellDef="let etudiant">
                <mat-checkbox
                  [checked]="etudiant.inscrit"
                  disabled
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="mail">
              <th mat-header-cell *matHeaderCellDef>Mail</th>
              <td mat-cell *matCellDef="let etudiant">{{ etudiant.mail }}</td>
            </ng-container>

            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let etudiant">{{ etudiant.nom }}</td>
            </ng-container>

            <ng-container matColumnDef="prenom">
              <th mat-header-cell *matHeaderCellDef>Prenom</th>
              <td mat-cell *matCellDef="let etudiant">{{ etudiant.prenom }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
