<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="h3-devoirs-title">Liste de vos devoirs</h3>
        <button
          class="btn btn-primary mr-2"
          (click)="showPopUpAjoutNouveauDevoir()"
        >
          Ajouter un nouveau devoir
        </button>
        <br/>
        <mat-form-field appearance="fill" class="form-field-spacing">
          <mat-label>Matière</mat-label>
          <mat-select [formControl]="matiereControl" (selectionChange)="onMatiereChange()">
            <mat-option value="">Toutes les matières</mat-option>
            <mat-option *ngFor="let matiere of matieres" [value]="matiere._id">
              {{ matiere.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="devoirs"
            class="mat-elevation-z8 demo-table"
          >
            <!-- Nom Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let devoir">{{ devoir.nom }}</td>
            </ng-container>

            <!-- Matière Column -->
            <ng-container matColumnDef="matiere">
              <th mat-header-cell *matHeaderCellDef>Matière</th>
              <td mat-cell *matCellDef="let devoir">{{ devoir.matiere_id.nom }}</td>
            </ng-container>

            <!-- Date de Creation Column -->
            <ng-container matColumnDef="dateDeCreation">
              <th mat-header-cell *matHeaderCellDef>Date de création</th>
              <td mat-cell *matCellDef="let devoir">{{ devoir.dateDeCreation | date }}</td>
            </ng-container>
            

            <!-- Date de Rendu Column -->
            <ng-container matColumnDef="dateDeRendu">
              <th mat-header-cell *matHeaderCellDef>Date limite</th>
              <td mat-cell *matCellDef="let devoir">{{ devoir.dateDeRendu | date }}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let devoir">
                <button
                  mat-icon-button
                  matTooltip="Voir détails devoir"
                  color="primary"
                  (click)="detailsDevoir(devoir)"
                >
                  <mat-icon>visibility</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Modifier le devoir"
                  color="primary"
                  (click)="openModifierDialog(devoir)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Supprimer le devoir"
                  color="warn"
                  (click)="openSupprimerDialog(devoir)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
            #paginator
            class="demo-paginator"
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [disabled]="disabled"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
            [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex"
            aria-label="Select page"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
